/*container for the post cards*/
.blogPage.layout {
    min-height: 90vh;
}
.blogCards {
    margin-top: 10px;
    grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
}
@media screen and (min-width: 341px) {
    .blogCards {
        grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
    }
}

.blogCard {
    height: 15.75rem;
}

.blogCard>.cardImg {
    border-radius: var(--round-conners);
    margin: 0px;
}
.blogCard .cardBody {
    left: 0;
    bottom: 0;
    padding: 0.8rem;
    color: #e9e9e9;
    position: absolute;
    pointer-events: auto;
}
.blogCard .cardBody .title {
    font-size: calc(1.15625rem + .075vw);
}
.blogCard a {
    color: #e9e9e9
}

/* for front page */
body.home .blogCards {
    grid-template-columns: 1fr;
}
@media screen and (min-width: 576px) {
    body.home .blogCards {
        grid-template-columns: 1fr 1fr;
    }
    body.home .blogCard:nth-child(1) {
        grid-column: 1 / span 2;
    }
}
@media screen and (min-width: 992px) {
    body.home .blogCards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
body.home .blogCard {
    height: 23.75rem;
}

body.home .blogCard .cardBody {
    padding: 1.5rem;
}
body.home .blogCard .cardBody .title {
    font-size: calc(1.25625rem + .075vw);
}
body.home .blogCard:nth-child(1) .cardBody .title {
    font-size: calc(1.3125rem + .75vw);
}

@media screen and (min-width: 1280px) {
    .blogCard .cardBody .title {
        font-size: 1.3125rem;
    }
}