.contact-icons {
    flex-wrap: wrap;
    gap: 2rem 5rem;
    margin-top: 4rem;
    flex-direction: column;
}
.contact-icons a {
    color: var(--body-txt-clr);
    min-width: 100%;
}
.contact-icon-box {
    align-items: center;
    gap: 1.5rem;
    flex-direction: column;
    min-width: 100%;
    padding: 15px;
    transition: var(--transition);
    box-shadow: var(--shadow-medium);
    border-radius: var(--round-conners);
    border: 1px solid var(--box-bg-clr-solid);
}

.contact-icon-box span {
    background-color: var(--box-bg-clr-solid);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    color: var(--theme-clr);
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
    transition: var(--transition);
}

.contact-info {
    gap: .4rem;
    flex-direction: column;
    align-items: center;
}

.contact-info h4 {
    color: var(--body-txt-clr);
    font-size: 1rem;
    margin: 0px;
}
.contact-info a,
.contact-info p {
    color: var(--body-txt-clr);
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
    margin: 0px;
    font-family: var(--font-four);
}
.contact-icon-box:hover .contact-info a,
.contact-icon-box:hover .contact-info p {
    color: var(--theme-clr);
}

@media screen and (min-width: 750px) {
    .contact-icons {
        flex-direction: row;
        gap: 4rem 5rem;
    }
    .contact-icons a {
        min-width: 250px;
    }
    .contact-icon-box {
        padding: 10px;
        align-items: center;
        flex-direction: row;
        min-width: 250px;
    }
    .contact-info {
        align-items: unset;
    }
}